h1, h2 {
    text-align: center;
  }
  #img-div {
    width: 90%;
    margin: 0 auto;
  }
  #image {
    width: 100%;
    height: auto;
    max-width: 1024px;
    display: block;
    margin: auto;
  }
  #img-caption {
    font-size: 0.9em;
  }
  #tribute-info {
    width: 90%;
    margin: auto;
  }
  #tribute-info p {
    font-size: 1.1em;
  }