h1, h2 {
    text-align: center;
  }
#main {
    width: 100%;
}
  #img-div {
    width: 80%;
    margin: 0 auto;
  }
  #image {
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-width: 1024px;
    display: block;
  }
  #img-caption {
    font-size: 0.9em;
  }
  #tribute-info {
    width: 80%;
    margin: auto;
  }
  #tribute-info p {
    font-size: 1.1em;
  }
